section {
    max-width: 1240px;
    margin: auto;
	padding: 20px 0px;
}

.hero{
	display: flex;
	padding: 50px 0px;
	align-items: center;
	gap: 20px;
}
.hero-left{
	flex: 1;
}

.hero-left h1{
	font-size: 50px;
	font-weight: bolder;
}

.hero-left p{
	font-size: 24px;
}

.hero-right{
	flex: 1;
}
.hero-right img{
	width: 100%;
}

.grids-one {
    display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px; 
	margin-bottom: 50px;
}

.grids-one-item {
    border: 2px solid #eee;
	padding: 20px;
}

.grids-one-item h2{
	text-align: center;
	font-weight: bolder;
	margin-bottom: 50px;
	font-size: 24px;
}


@media screen and (max-width: 900px) {
	.hero{
		flex-direction: column;
		padding: 50px 10px;
	}
	.grids-one{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 600px) {
	.grids-one{
		grid-template-columns: 1fr;
	}

	.hero-left h1{
		font-size: 40px;
		text-align: center;
	}

	.hero-left p{
		font-size: 20px;
		text-align: center;
	}
}
